<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Mother Music</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="/" class="text-gray-500 hover:text-gray-700">
                    <h1 class="text-4xl font-bold">HOME</h1>
                  </a>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <div class="site-row">
            <div class="site-name">
                <h1 class="text-4xl font-bold text-gray-800">Mother Music</h1>
            </div>
        </div>
        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="js/logout.js"></script>
    {{/if}}
</body>

</html>