<section class="new-post-section">
    <button type="submit" class="btn bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" id="create-new-post">+Create new post</button>
</section>


{{#if posts.length}}
<section>
    <h2 class="text-4xl font-bold text-gray-800">Your Dashboard</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/create-post.js"></script>