<div class="/">
  <div class="/-header">
  <!--Render data using handlebars.js expression-->
    {{/}}
  </div>
  <div class="//">
    <!-- Render additional handlebars.js expression --->
    <p>
      //:
      {{//}}
    </p>
  </div>
</div>
